{% extends 'base.html' %}
{% load static %}

{% block grid %}
    <div class="ui equal width grid" style="margin:5px 0 5px 0;width:40%">
        <div class="row">
            <div class="column">
                <div class="ui container segment">
                    <div class="ui divided items">
                        <div class="item">
                            <div class="content">
                                <a class="header">
                                    标致206全丢
                                </a>
                                <div class="description">
                                    <img src="{% static 'images/c1.jpg' %}" width="216" height="288">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="header">
                                    标致206全丢
                                </a>
                                <div class="description">
                                    <img src="{% static 'images/c1.jpg' %}" width="216" height="288">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="header">
                                    标致206全丢
                                </a>
                                <div class="description">
                                    <img src="{% static 'images/c1.jpg' %}" width="216" height="288">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
